<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<style>
  .container-main {
    padding-top: 9rem !important;
  }
</style>

<body>
	<div id="app">
        <v-app>
			<v-main class="bg-[#53576b] flex justify-center w-screen h-screen container-main">
				<v-container>
      <template>
            <v-data-table
              :headers="headers"
              :items="desserts"
              :item-class="rowClass"
              class="elevation-1"
              dark
              >
              <template v-slot:top>
                <v-toolbar
                  flat
                >
                  <v-toolbar-title 
                    class="font-weight-black" style="font-size: 1.6rem;">
                    LISTA DE CONTATOS
                  </v-toolbar-title>
                  <v-divider
                    class="mx-4"
                    inset
                    vertical
                  ></v-divider>
                  <v-spacer></v-spacer>
                  <v-dialog
                    v-model="dialog"
                    max-width="500px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        class="mb-2 green"
                        v-bind="attrs"
                        v-on="on"
                        
                      >
                        +
                      </v-btn>
                    </template>
                    <v-card>
                      <v-card-title>
                        <span class="text-h5">{{ formTitle }}</span>
                      </v-card-title>
          
                      <v-card-text>
                        <v-container>
									<v-form ref="form" v-model="valid" lazy-validation>
                          <v-row>
                            <v-col
                              cols="12"
                              sm="6"
                              md="15"
                            >
                              <v-text-field
                                v-model="editedItem.nome"
                                required
                                :rules="nameRules"
                                label="Name"
                              ></v-text-field>
                            </v-col>

                            <v-col
                              cols="12"
                              sm="6"
                              md="15"
                              >
                              <v-text-field
                              v-model="editedItem.telefone"
                              required
                              placeholder="(xx) x xxxx-xxxx"
                              @keypress="onlyNumber"
                              :rules="phoneRules"
                              label="Telefone"
                              :maxlength="count"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          </v-form>
                        </v-container>
                        <small>*indicates required field</small>
                      </v-card-text>
          
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="green darken-1"
                          text
                          @click="close"
                        >
                          Cancel
                        </v-btn>
                        <v-btn
                          color="green darken-1"
                          text
                          @click="save"
                        >
                          Save
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogDelete" max-width="600px">
                    <v-card class="text-center">
                      <v-card-title class="font-light">
                        Tem certeza que deseja deletar <div class="ml-2 mr-1 font-black"> {{ deletedItem.nome}} </div>?
                      </v-card-title>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" text @click="closeDelete">Cancel</v-btn>
                        <v-btn color="green darken-1" text @click="deleteItemConfirm">OK</v-btn>
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon
                  dense
                  class="mr-8"
                  @click="editItem(item)"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  dense
                  color="red lighten-1"
                  @click="deleteItem(item)"
                >
                  mdi-delete
                </v-icon>
              </template> 
            </v-data-table>
          </template>
                </v-app>
            </v-main>
        </v-container>
	</div>
	<script>

		const context = new Vue({
			el: '#app',
			vuetify: new Vuetify(),

			data: () => ({
              valid: true,
              dialog: false,
              dialogDelete: false,
              count: 11,
              headers: [
                  { text: 'Telefone', value: 'telefone' },
                  { text: 'Nome', value: 'nome' },
                  { text: 'Editar/Deletar', value: 'actions', sortable: false },
              ],
              desserts: [],
              editedIndex: -1,
              editedItem: {
                  nome: '',
                  telefone: '',
              },
              defaultItem: {
                  nome: '',
                  telefone: '',
              },
              deletedItem: {
                  nome: '',
                  telefone: '',
              },
              nameRules: [
                v => !!v || 'Name is required',
                v => {
                  if (v) {
                    const wordsList = v.split(" ") || [];
                    const minTwoWordsWith3Characters = (wordsList.length < 2
                      || wordsList[0].length < 3
                      || wordsList[1].length < 3);

                    return !minTwoWordsWith3Characters
                      || 'Name must be two words with a minimum of three characters';
                  }
                },
              ],
              phoneRules: [
                v => !!v || 'Phone is required',
                v => v.length == 16 || 'Phone must be 11 characters long'
              ],
            }),

            computed: {
              formTitle () {
                  return this.editedIndex === -1 ? 'Novo Contato' : 'Editar Contato'
              },
            },

            watch: {
              dialog (val) {
                  val || this.close()
              },
              dialogDelete (val) {
                  val || this.closeDelete()
              },
              "editedItem.telefone": {
                immediate: true,
                handler() {
                  this.mascaraParaTelefone()
                }
              }
            },

            methods: {

              onlyNumber ($event) {
                let keyCode = $event.keyCode;
                if (keyCode < 48 || keyCode > 57) {
                    $event.preventDefault();
                }
              },

              rowClass(item) {
                  const isElevenDDD = item.telefone[1] == 1 && item.telefone[2] == 1;
                  const rowClass = isElevenDDD && 'bg-[#2610f2]';
                  return rowClass;
              },

              mascaraParaTelefone() {
                const telefone = this.editedItem.telefone;
                const hasParent = telefone.includes('(');
                if(hasParent) {
                  this.count = 16;
                } else {
                  this.count = 11;
                }
                if(!hasParent && telefone.length === 11 
                  || telefone.length === 16) {
                  this.editedItem.telefone = telefone.replace(/[^a-zA-Z0-9]/g, "");
                  const ln = this.editedItem.telefone.split('');
                  const ddd = `(${ln[0]}${ln[1]}) ${ln[2]} `
                  const restNumber = `${ln[3]}${ln[4]}${ln[5]}${ln[6]}-${ln[7]}${ln[8]}${ln[9]}${ln[10]}`
                  const formating = ddd + restNumber;
                  this.editedItem.telefone = formating
                }
              },

              editItem (item) {
                this.editedIndex = this.desserts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
              },

              deleteItem (item) {
                this.editedIndex = this.desserts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.deletedItem = item;
                this.dialogDelete = true
              },

              deleteItemConfirm () {
                this.desserts.splice(this.editedIndex, 1)
                this.closeDelete()
              },

              close () {
                this.dialog = false
                this.$nextTick(() => {
                  this.editedItem = Object.assign({}, this.defaultItem)
                  this.editedIndex = -1
                })
              },

              closeDelete () {
                this.dialogDelete = false
                this.$nextTick(() => {
                  this.editedItem = Object.assign({}, this.defaultItem)
                  this.editedIndex = -1
                })
              },

              save () {
                const validFields = this.$refs.form.validate();
                if(validFields) {
                  if (this.editedIndex > -1) {
                    Object.assign(this.desserts[this.editedIndex], this.editedItem)
                  } else {
                    this.desserts.push(this.editedItem)
                  }
                  this.close()
                }
              },
            },
	});

	</script>
</body>